
#floor-map {
    position: relative;
    left    : 0px;
    top     : 0px;
}


#table2 {
    position: absolute;
    left    :    0px;
    top     :    0px;
    width   :   32px;
    height  :   32px;
    background-color: Red;
}
                    
#table1 {
    position: absolute;
    left    :   32px;
    top     :    0px;
    width   :   32px;
    height  :   32px;
    background-color: Red;
}
                    
#table6 {
    position: absolute;
    left    :  128px;
    top     :    0px;
    width   :   32px;
    height  :   32px;
    background-color: Blue;
}
                    
#table5 {
    position: absolute;
    left    :  160px;
    top     :    0px;
    width   :   32px;
    height  :   32px;
    background-color: Green;
}
                    
#table3 {
    position: absolute;
    left    :    0px;
    top     :   32px;
    width   :   32px;
    height  :   32px;
    background-color: Blue;
}
                    
#table4 {
    position: absolute;
    left    :   32px;
    top     :   32px;
    width   :   32px;
    height  :   32px;
    background-color: Blue;
}
                    
#table7 {
    position: absolute;
    left    :  128px;
    top     :   32px;
    width   :   32px;
    height  :   32px;
    background-color: Red;
}
                    
#table8 {
    position: absolute;
    left    :  160px;
    top     :   32px;
    width   :   32px;
    height  :   32px;
    background-color: Blue;
}
                    
                