
    
        #table27 {
            position: absolute;
            left    :    0px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table26 {
            position: absolute;
            left    :   32px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table25 {
            position: absolute;
            left    :   64px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: SkyBlue;
        }
                    
        #table24 {
            position: absolute;
            left    :   96px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table23 {
            position: absolute;
            left    :  128px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table22 {
            position: absolute;
            left    :  224px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: YellowGreen;
        }
                    
        #table21 {
            position: absolute;
            left    :  256px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table20 {
            position: absolute;
            left    :  288px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table19 {
            position: absolute;
            left    :  320px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table18 {
            position: absolute;
            left    :  416px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table17 {
            position: absolute;
            left    :  448px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: White;
        }
                    
        #table16 {
            position: absolute;
            left    :  480px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table15 {
            position: absolute;
            left    :  512px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table14 {
            position: absolute;
            left    :  544px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: White;
        }
                    
        #table13 {
            position: absolute;
            left    :  576px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table12 {
            position: absolute;
            left    :  608px;
            top     :    0px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table28 {
            position: absolute;
            left    :    0px;
            top     :   32px;
            width   :   32px;
            height  :   32px;
            background-color: Pink;
        }
                    
        #table11 {
            position: absolute;
            left    :  608px;
            top     :   32px;
            width   :   32px;
            height  :   32px;
            background-color: Brown;
        }
                    
        #table29 {
            position: absolute;
            left    :    0px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table57 {
            position: absolute;
            left    :   64px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table56 {
            position: absolute;
            left    :   96px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table55 {
            position: absolute;
            left    :  128px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Violet;
        }
                    
        #table50 {
            position: absolute;
            left    :  224px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table49 {
            position: absolute;
            left    :  256px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table48 {
            position: absolute;
            left    :  288px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table47 {
            position: absolute;
            left    :  320px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table41 {
            position: absolute;
            left    :  416px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Pink;
        }
                    
        #table40 {
            position: absolute;
            left    :  448px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table39 {
            position: absolute;
            left    :  480px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table38 {
            position: absolute;
            left    :  512px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: White;
        }
                    
        #table37 {
            position: absolute;
            left    :  544px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Orange;
        }
                    
        #table10 {
            position: absolute;
            left    :  608px;
            top     :   64px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table30 {
            position: absolute;
            left    :    0px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table58 {
            position: absolute;
            left    :   64px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table59 {
            position: absolute;
            left    :   96px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table60 {
            position: absolute;
            left    :  128px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table51 {
            position: absolute;
            left    :  224px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table52 {
            position: absolute;
            left    :  256px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table53 {
            position: absolute;
            left    :  288px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table54 {
            position: absolute;
            left    :  320px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Black;
        }
                    
        #table42 {
            position: absolute;
            left    :  416px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Orange;
        }
                    
        #table43 {
            position: absolute;
            left    :  448px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Violet;
        }
                    
        #table44 {
            position: absolute;
            left    :  480px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table45 {
            position: absolute;
            left    :  512px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Purple;
        }
                    
        #table46 {
            position: absolute;
            left    :  544px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table9 {
            position: absolute;
            left    :  608px;
            top     :   96px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table31 {
            position: absolute;
            left    :    0px;
            top     :  128px;
            width   :   32px;
            height  :   32px;
            background-color: Gray;
        }
                    
        #table8 {
            position: absolute;
            left    :  608px;
            top     :  128px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table32 {
            position: absolute;
            left    :    0px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Yellow;
        }
                    
        #table33 {
            position: absolute;
            left    :   32px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table34 {
            position: absolute;
            left    :   64px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Black;
        }
                    
        #table35 {
            position: absolute;
            left    :   96px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Green;
        }
                    
        #table36 {
            position: absolute;
            left    :  128px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Orange;
        }
                    
        #table1 {
            position: absolute;
            left    :  416px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Black;
        }
                    
        #table2 {
            position: absolute;
            left    :  448px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table3 {
            position: absolute;
            left    :  480px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Red;
        }
                    
        #table4 {
            position: absolute;
            left    :  512px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table5 {
            position: absolute;
            left    :  544px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: White;
        }
                    
        #table6 {
            position: absolute;
            left    :  576px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Blue;
        }
                    
        #table7 {
            position: absolute;
            left    :  608px;
            top     :  160px;
            width   :   32px;
            height  :   32px;
            background-color: Gray;
        }
                    
                